<p id="notice"><%= notice %></p>



<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @gallery.photo.url %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
