<nav class="navegacion">
<ul>
<li><%= link_to "Inicio", root_path %></li>
<li><%= link_to "Nosotros", nosotros_path %></li>
<li><%= link_to "Aeroshow", aeroshow_path %></li>
<li><%= link_to "Cursos", cursos_path %></li>
<li><%= link_to "Prensa", prensa_path %></li>
<li><%= link_to "Instalaciones", instalaciones_path %></li>
<li><%= link_to "Galeria", galeria_path %></li>
<li><%= link_to "Livecamera", livecamera_path %></li>
</ul>
</nav>