<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag 'style' %>

</head>

<body>
    <div id="contenedor">
       <aside>
          <%= render 'layouts/aside' %>
       </aside>
       <section id="contenido">
         <%= yield %>
       </section>
     
     
    </div>
</body>
</html>