<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= render "layouts/stylesheets"%>	
</head>

<body>
    <div id="contenedor">
       <aside>
          <%= render 'layouts/aside' %>
       </aside>
       <section id="contenido">
       	<%= render(:file => 'pages/inicio') %>
       </section>
    </div>
</body>
</html>


