<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%= csrf_meta_tag %>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'inicio' %>
<%= stylesheet_link_tag 'nosotros' %>
<%= stylesheet_link_tag 'aeroshow' %>
<%= stylesheet_link_tag 'cursos' %>
<%= stylesheet_link_tag 'prensa' %>
<%= stylesheet_link_tag 'instalaciones' %>
<%= stylesheet_link_tag 'galeria' %>
<%= stylesheet_link_tag 'livecamera' %>

</head>

<body>
    <div id="contenedor">
       <aside>
          <%= render 'layouts/aside' %>
       </aside>
       <section id="contenido">
         <%= yield %>
       </section>
    </div>
</body>
</html>